{% extends "layout.html" %} {% block title %}Change Password - {% endblock %} {%
block content %}
<div>
  <h2>Change Password</h2>
  <form method="post" action="{{ url_for('change_password') }}">
    <label for="current_password">Current Password:</label>
    <input
      type="password"
      id="current_password"
      name="current_password"
      required
    />

    <label for="new_password">New Password:</label>
    <input type="password" id="new_password" name="new_password" required />

    <label for="confirmation">Confirm New Password:</label>
    <input type="password" id="confirmation" name="confirmation" required />
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
    <button type="submit">Change Password</button>
  </form>
</div>
{% endblock %}
